
.inscription {
    text-align: center; /* Pour centrer le texte à l'intérieur de la div */
    background-color: white;
    border-style: double;
    margin-left: 300px;
    margin-right: 300px;
    height: 700px;
    
}

.inscription input{
    display: inline-block; /* Pour que le formulaire occupe seulement la largeur nécessaire */
    text-align: left; /* Réinitialiser l'alignement du texte à gauche à l'intérieur du formulaire */
    height: 40px;
    width: 500px;
    
    
}
label{
    font-size: 25px;
    margin-left: 100px;
    text-align: justify;
}