.body{
    border-style: groove;
    border-color: gray;
   border-width: 1px;
   width: 100%;
   padding-top: 0px;
}
.section1{
    background-image: url(Call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    
    
}
.barre{
    text-decoration: none;
    padding-top: 50px;
    color: black;
    
}

.menu{
    padding-left: 850px;
    text-decoration: none;
    text-decoration-color: black;
    
}
.part1{
    text-align: center;
    margin-top: 100px;
    
}

.section2{
    display: flex;
    background-color: rgb(234, 225, 225);
    margin-left: 0px;
    margin-right: 500px;
    margin-bottom: 0px;
    gap: 20px;
    padding-top: 100px;
    height: 500px;
    width: 100%;
    justify-content: center;
}
.text{
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: small;
    margin-left: 0px;
    padding-left: 0px;
}
.section4{
    background-image: url(Call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.photo{
    text-align: center;
    justify-content: space-between;
    padding-top: 100px;

}
.footer{
    border: 2px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer2{
    border: 2px;
    display: flex;
    gap: 120px;
    justify-content: center;
    margin-top: 20px;
    font-size: xx-small;
    color: black;
}
